.swatches {
	font-family: sans-serif;
	scroll-snap-type: y mandatory;	
	display: flex;
	flex-direction: column;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	overflow-x: hidden;
	&.fs {
		flex-direction: row;
		scroll-snap-type: x mandatory;		
		overflow-y: hidden;
		overflow-x: auto;
		section {
            height: 100vh;
            .details {
                display: block
            }
		}
    }
    section {
        display: flex;
        align-items: center;
        padding: 1rem;
        min-width: 100vw;
        height: 10vh;
        scroll-snap-align: start;
        text-align: center;
        position: relative;
        cursor: pointer;
        //transition: height 0.3s ease;
        .details {
            display: none
        }
    }
}